<!DOCTYPE html>
<html lang="en-US">
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="customersCtrl"> 
Search for person: <input type="text" ng-model="search">
<ul>
  <li ng-repeat="x in names | filter:search | orderBy:'Country' ">
    {{ x.Name + ', ' + x.Country + ', ' + x.City}}
  </li>
</ul>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('customersCtrl', function($scope, $window, $http) {
$http({
        url: 'http://localhost:8080/Anjular_Demo/url/customers.txt',
        dataType: 'json',
        method: 'GET',
        data: '',
        headers: {
            "Content-Type": "application/json"
        }

    }).success(function(response){
        $scope.names = response;
    }).error(function(error){
        $scope.names = 'error';
});
}); 

</script>

</body>
</html>
